@import url(https://fonts.google.com/specimen/Manrope);

*{
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%);
  font-family: 'Manrope', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; 
  height: 100vh;
  font-weight: 800;
  /* width: 1440px; */
}




